@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
html {overflow-y:scroll; margin:0;}
body {background:#ffffff;PADDING: 0px;MARGIN: 0px; color:#333;}
Body{ text-align:center; font-size:12px;font-family: "\5FAE\8F6F\96C5\9ED1";}
DL, DT, DD, UL, OL, LI, PRE, FORM, FIELDSET, INPUT, TEXTAREA, BLOCKQUOTE{PADDING: 0px;MARGIN: 0px;}
H1,H2,H3,H4,H5,H6 {FONT-WEIGHT: normal; PADDING: 0px; MARGIN: 0px;}
TABLE {	FONT-SIZE: 12px;}
TD, TR, TH{	FONT-SIZE: 12px;}
LI,OL,UL,em{list-style:none;font-style:normal;}
TABLE {	MARGIN: 0px auto;}
IMG {BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; VERTICAL-ALIGN: top; BORDER-RIGHT-WIDTH: 0px;}
CAPTION {TEXT-ALIGN: left;}
TH {TEXT-ALIGN: left;}

.clear { CLEAR: both; DISPLAY: block;  HEIGHT: 0px;}

.blank1{clear:both; display:block; height:1px; line-height:1px; font-size:1px;}
.blank4{clear:both; display:block; height:4px; line-height:1px; font-size:1px;}
.blank5{clear:both; display:block; height:5px;line-height:1px;font-size:1px;}
.blank6 {	CLEAR: both; DISPLAY: block;  HEIGHT: 6px; line-height:1px;font-size:1px;}
.blank8 {	CLEAR: both; DISPLAY: block;  HEIGHT: 8px; line-height:1px;font-size:1px;}
.blank8w {	CLEAR: both; DISPLAY: block;  HEIGHT: 8px; background:#FFFFFF; line-height:1px;font-size:1px;}
.blank9 {	CLEAR: both; DISPLAY: block;  HEIGHT: 9px; line-height:1px;font-size:1px;}
.blank10 {	CLEAR: both; DISPLAY: block;  HEIGHT: 10px; line-height:1px;font-size:1px;}
.blank12 {	CLEAR: both; DISPLAY: block;  HEIGHT: 12px; line-height:1px;font-size:1px;}
.blank15 {	CLEAR: both; DISPLAY: block;  HEIGHT: 15px; line-height:1px;font-size:1px;}
.blank20 {	CLEAR: both; DISPLAY: block;  HEIGHT: 20px; line-height:1px;font-size:1px;}
.f10 { font-size: 10px }
.f12 { font-size: 12px }
.f14 { font-size: 14px }
.f16 { font-size: 16px }
.f18 { font-size: 18px }
.f20 { font-size: 20px }
.f24 { font-size:24px }
.f30 { font-size:30px }
.fb { font-weight: 100; }

/*默认连接效果*/

a{outline-style:none;color:#333333;text-decoration:none}
a:hover{color:#ba2636;text-decoration:underline;}

.ziline a{text-decoration:underline;}
.ziline{text-decoration:underline;}
.ziline:visited {text-decoration:underline;}
.ziline:link {text-decoration:underline;}
.ziline:hover {text-decoration:underline;}

.ared {COLOR: #CC0000;}
.ared A {COLOR: #CC0000;}
.ared:visited {	COLOR: #CC0000;}
.ared:link {COLOR: #CC0000;}
.ared:hover {COLOR: #CC0000;}

.cblue {COLOR: #0B98E0;}
.cblue:link {COLOR: #0B98E0;}
.cblue A {	COLOR: #0B98E0;}
.cblue:visited {COLOR: #0B98E0;}
.cblue:hover {	COLOR: #CC0000;}
A.cblue:hover {	COLOR: #CC0000;}

.cwrite {COLOR: #ffffff;}
.cwrite:link {COLOR: #ffffff;}
.cwrite A {	COLOR: #ffffff;}
.cwrite:visited {COLOR: #ffffff;}
.cwrite:hover {	COLOR: #ffffff;}
A.cwrite:hover {COLOR: #ffffff;}

.cblack {COLOR: #000;}
.cblack:link {COLOR: #000;}
.cblack A {	COLOR: #000;}
.cblack:visited {COLOR: #000;}
.cblack:hover {COLOR: #CC0000;}
A.cblack:hover {COLOR: #CC0000;}

.cgray {COLOR: #999;  TEXT-DECORATION: none;}
.cgray:link {COLOR: #999; TEXT-DECORATION: none;}
.cgray A {COLOR: #999; TEXT-DECORATION: none;}
.cgray:visited {COLOR: #999; TEXT-DECORATION: none;}
.cgray:hover {COLOR: #999; TEXT-DECORATION: none;}

/*公共样式*/
.f18 { font-size:18px;}
.f16 { font-size:16px;}
.f15 { font-size:15px;}
.f14 { font-size:14px;}
.f13 {font-size:13px;}
.f12 {font-size:12px;}
.line-H30{ line-height:30px;}
.line-H28{ line-height:28px;}
.line-H26{ line-height:26px;}
.line-H24{ line-height:24px;}
.line-H22{ line-height:22px;}
.line-H20{ line-height:20px;}
.font-b{ font-weight:bold;}
.bk10{ margin-top:10px;}
/* basic */
.f_l {float:left;}
.f_r {float:right;}
.t_l {text-align:left;}
.t_r {text-align:right;}
.t_c {text-align:center;}
.f_b {font-weight:bold;}
.f_n {font-weight:normal;}
/*颜色样式样式*/
.fc_gray{ color:#666666;}
.fc_red{color:#FF0000;}
.fc_blue{color:#0099CC;}
.fc_write{color:#FFFFFF;}

.fb{ font-weight:bold;}
.line_2{ background:url(../image/line_2.jpg) repeat-x;}

/*内容样式1200*/
.area { clear:both;	MARGIN: 0 auto; WIDTH: 1200px; TEXT-ALIGN: left;  background:#fff;overflow:hidden;}
/*页面顶部栏*/
.park_passport {CLEAR: both; margin:0 auto; BACKGROUND: url(../images/web_bg/top_bg.gif) #fff repeat-x left; HEIGHT:39px; color:#999999; width: auto;min-width: 1200px;overflow:hidden;}
.park_passport .main {	MARGIN: 0px auto; WIDTH: 1200px;overflow:hidden;}
.park_passport .leftlink {	FLOAT: left; LINE-HEIGHT: 37px;overflow:hidden;}
.park_passport .mailLink {	FLOAT: right; LINE-HEIGHT: 37px;overflow:hidden;}
.park_passport .leftlink A { COLOR: #333333; padding:0px 8px 0px 8px;height:39px; display:inline-block;}
.park_passport .leftlink A:visited { COLOR: #333333;}
.park_passport .leftlink A:hover {	COLOR: #fff; background-color:#ba2636;text-decoration:none;}
.park_passport .mailLink A { COLOR: #333333; padding:0px 6px 0px 6px;height:39px;display:inline-block;}
.park_passport .mailLink A:visited { COLOR: #333333;}
.park_passport .mailLink A:hover {	COLOR: #fff; background-color:#ba2636; text-decoration:none;}
/*广告样式*/
.AD_TL{MARGIN: 0px auto; WIDTH: 1200px; TEXT-ALIGN: left;overflow:hidden;}
/*线条样式1px*/
.u_Line {CLEAR: both; DISPLAY: block;  HEIGHT: 1px; background:#D1D1D1; line-height:0px;overflow:hidden;}
/*版权页*/
.subfoot-wrap{MARGIN: 0px auto;width: auto;min-width: 1200px;border-top:1px solid #ddd;background:#f8f8f8; text-align:center; color:#666;overflow:hidden;}
.fixed-sitemap-main{width:1200px;margin:0 auto;text-align:left;overflow:hidden;}
.sitemap{margin-left:0px;overflow:hidden;}
.sitemap-logo{float:left; overflow:hidden;width:190px;height:105px;overflow:hidden;text-indent:5em;background-position:left top; margin-top:25px;}
.sitemap-logo{background:url(../images/web_bg/botlogo.gif) left top no-repeat;}
.sitemap-infologo{float:left;_display:inline;width:200px;height:180px;border-right:1px solid #dddddd;overflow:hidden;}
.sitemap-con{float:left;_display:inline;width:370px;height:180px;border-left:1px solid #dddddd; text-align:center;overflow:hidden;}
.sitemap-con .con_copy{ width:280px; margin:0 auto; overflow:hidden; text-align:left; padding-top:25px; line-height:24px;}
.sitemap-info{float:left;_display:inline;width:620px;height:180px;overflow:hidden;}
.sitemap-info .site-map{ width:560px; margin:0 auto; overflow:hidden; text-align:left; margin-top:25px; line-height:24px; font-size:13px; _width:570px;}
.sitemap-info .site-map a{float:left;margin:0 auto; padding:0px; width:80px;height:24px;display:inline-block;text-align:left; line-height:24px;}
.sitemap-info .site-map a:hover{ color:#FFFFFF; background:#ba2636; text-align:center;}
.sitemap-info .website{ width:560px; margin:0 auto; overflow:hidden; text-align:left; margin-top:15px; _width:570px;}
.sitemap-info .website a{float:left;margin:0 auto; padding:0px; width:50px;height:24px;text-align:left; line-height:24px; display:inline-block;}
.sitemap-info .website a:hover{ color:#FFFFFF; background:#ba2636; text-align:center;}

/*---cFooterWrap S---*/
.cFooterWrap{margin:0 auto; background-color:#333333; text-align:center;width: auto;min-width: 1200px;overflow:hidden;}
.cFooter{ margin:0 auto;overflow:hidden;width:1200px;  height:44px; line-height:44px; color:#FFF;}
.cFooter .footleft{MARGIN: 0px auto;overflow:hidden;float:left; padding:0 5px;}
.cFooter .footright{MARGIN: 0px auto;overflow:hidden;float:right; white-space:nowrap;}
.cFooter .footright a{ color:#FFF; margin:0 5px;}

/*翻页样式*/
.pagelist{margin:0px auto; text-align:center; font-size:14px; height:40px; line-height:36px; overflow:hidden; padding:25px 0px;overflow:hidden; width:100%;}
.pagelist noclick{cursor:default;padding:5px 8px; color:#ccc;background:#fff;  border:1px solid #d9d9d9; text-align:center;}

.pagelist .nw_num{width:120px; float:left; text-align:center;overflow:hidden;}
.pagelist .nw_page{width:100%; text-align:center;overflow:hidden;}
.pagelist .nw_page A {COLOR: #333333;border:1px solid #D8D9D4; padding:0px 12px;display: inline-block;margin: 0px 5px;}
.pagelist .nw_page A.current {background-color:#bb1122; color:#FFFFFF;border: 1px solid #bb1122;}
.pagelist .nw_page A.current:visited {background-color:#bb1122; color:#FFFFFF;border: 1px solid #bb1122;}
.pagelist .nw_page A:visited {COLOR: #333333; text-decoration:none;}
.pagelist .nw_page A:hover{background-color:#bb1122; color:#FFFFFF;}

/*顶部搜索*/
.Tsearch{margin:0 auto; width:1200px;}
.Tsearch .logo{margin:0 auto; overflow:hidden;width:260px;float:left; height:120px; text-align:left;overflow:hidden;}
.Tsearch .logo a{display:block;height:91px; width:254px; margin-top:15px;background: #bb1122 url(../images/logo.gif) no-repeat top left;}
.Tsearch .city{margin:0 auto; width:160px; float:left; height:100px;overflow:hidden;}
.Tsearch .city .cname{ width:160px; clear:both; line-height:22px; margin-top:40px;overflow:hidden;}
.Tsearch .city .cname2{ width:160px;line-height:22px;}
.Tsearch .city .cname2 a{height:22px; padding:0px 6px; line-height:22px; border:1px solid #e2e2e2; font-size:12px; font-weight:100;display:inline-block;cursor: pointer;}
/*** 切换其它城市 ***/
.Tsearch .city .cname2 .sidenavchild {background:#fff;border:solid 2px #dedede;padding:15px;width:400px; position:absolute;z-index:10000;color:#CCCCCC; text-align:left;overflow:hidden;}
.Tsearch .city .cname2 .sidenavchild a{color:#000; padding:0;display:inline-block; height:30px; line-height:30px;width:45px; text-align:center;border:none;}
.Tsearch .city .cname2 .sidenavchild a:hover{color:#fff; background-color:#bb1122;}
.Tsearch .city .cname2 .sidenavchild img.gb{float:right;margin-right:0px;margin-top:0px;_margin-top:0px; cursor:pointer;border:solid 1px #eee;width:16px;height:16px;display:inline-block;background:#fff;}
.Tsearch .city .cname2 .sidenavchild img.gb:hover{background:#eee;border:solid 1px #ddd;}

/*search*/
.Tsearch .sitesearch{margin:0 auto; float:right; width:700px; height:100px;}
.Tsearch .sitesearch .alStit{width:700px; text-align:center; padding:0; float:left; margin:10px 0px 0px 0px;}
.alStit ul{text-align:center;}
.alStit ul li{float:left;height:24px;line-height:24px;margin:0 auto;display:inline;cursor:pointer;font-size:14px;font-weight:normal;text-decoration:none;padding:5px 15px 5px 15px;}
.alStit ul li.alSactive{text-decoration:none;background: hsl(0, 100%, 40%);color: hsl(0, 100%, 100%);border-radius: 3px; font-weight:bold;}
.alStit ul li a{color:#bb1122; text-decoration:underline;}
.alStit ul li:hover{background: hsl(0, 100%, 40%);color: hsl(0, 100%, 100%);border-radius: 3px;}
.Tsearch .sitesearch .alScont{width:700px; margin:0px auto; overflow:hidden;}
.alScont .input2{float: left;width:590px;text-indent: 10px;height: 36px;line-height:36px;vertical-align: bottom;border:3px solid #bb1122;font-size: 14px;color: #888;font-size: 14px;outline: none; font-family:"\5FAE\8F6F\96C5\9ED1";}
.alScont .btnSearch{ background: #bb1122 url(../images/web_bg/sbutton.gif) no-repeat top left; border: 0 none; color: #FFFFFF; cursor: pointer; float: left; font-size: 16px; height: 42px; text-indent: -9999px;width: 92px; vertical-align: middle; white-space: nowrap;}
/*通用推荐park*/
.recom_park{margin:0 auto; width:1200px;overflow:hidden;}
.recom_park .recom_parktit{width:1200px; font-size:16px; font-weight:bold; border-bottom:3px solid #ee0000; text-align:left; height:40px; line-height:40px;overflow:hidden;}
.recom_park .recom_parktit span{ padding-left:0px;}
.recom_park .recomendpark{margin:0 auto; width:1200px; margin-bottom:15px;overflow:hidden;}
.recom_park .recomendpark ul{width:1200px;}
.recom_park .recomendpark ul li{float:left;width:228px;margin-top:13px;margin-right:15px;display:inline;}
.recom_park .recomendpark .parkpicture{margin:0 auto; float:left; width:228px; height:152px; text-align:center;position: relative;overflow:hidden;}
.recom_park .recomendpark .parkpicture .Sparkimg{margin:0 auto; float:left; width:228px; height:152px;position: relative;}
.recom_park .recomendpark .nonemar{margin-right:0;}
.recom_park .recomendpark .parkpicture .Sparkimg img{width:228px; height:152px;}
.recom_park .recomendpark .parkpicture .Sparkimg .img2{ transition: all .3s ease;-webkit-transition: all .3s ease;-moz-transition: all .3s ease;-ms-transition: all .3s ease;-o-transition: all .3s ease; } 
.recom_park .recomendpark .parkpicture .Sparkimg .img2:hover { transform:scale(1.04,1.04);-ms-transform:scale(1.04,1.04);-o-transform:scale(1.04,1.04); -webkit-transform:scale(1.04,1.04); }
.recom_park .recomendpark .parkpicture .sparkback{position: absolute;bottom:0px;left:0px;width:228px;height:30px;line-height: 28px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#99000000', endColorstr='#99000000');background-color:rgba(0,0,0,0.5);overflow:hidden;}
.recom_park .recomendpark .parkpicture .sparkback:hover{background-color:#000000;}
.recom_park .recomendpark .parkpicture .sparkback p{display: block;padding:0 5px; text-align:center;}
.recom_park .recomendpark .parkpicture .sparkback a{color:#FFFFFF;}

.recom_park .recomendpark .simginfo{padding-top:10px; width:228px;overflow:hidden;}
.recom_park .recomendpark .simginfo p{width:100%;line-height:20px;height:20px;overflow:hidden;}
.recom_park .recomendpark .simginfo .price{float:left;font-weight:bold;font-size:14px;margin-top:1px; color:#CC0000;}
.recom_park .recomendpark .simginfo .number{float:right;font-size:14px; color:#666666;}
.recom_park .recomendpark .simginfo p.yh{margin-top:5px;color:#c00;}
.recom_park .recomendpark .simginfo p.yh a{color:#c00;}

.width50 { width:50px;}
.Tsearch .brlogo { background:url(../images/web_bg/bry2.png) 0px 0px no-repeat; position:absolute; top:-17px; left:258px; z-index:2; width:236px; height:173px;}
.Tsearch .brlogo { display:none;}


/* 工具 */
.newtool{ overflow:hidden;width: auto;min-width: 1200px;height:54px;border-bottom:1px solid #ddd;padding:15px 0;border-top:4px solid #bb1122;}
.newtoolnr{ overflow:hidden;width:1200px;height:54px; margin:0 auto;}
.newtoolnr .td{float:left;width:286px;height:54px;background:url(../images/web_bg/icon01.png) no-repeat 40px 0;border-right:1px dashed #ddd;}
.newtoolnr .td .tool100{ width:100px; float:left;height:54px;}
.newtoolnr .td .tool100 a{width:100px; height:54px;display:inline-block;}
.newtoolnr .td.w230{width:339px;background-position:40px 0px;}

.newtoolnr .td.nob{border-right:0px}
.newtoolnr .td.no1{background-position:40px -56px;}
.newtoolnr .td.no2{background-position:40px -112px;}
.newtoolnr .td.no3{background-position:40px -168px;}
.newtoolnr .td .s1{height:30px;line-height:30px;font-size:18px;font-weight:bold}
.newtoolnr .td .s2{height:20px;line-height:20px;font-size:14px;margin-top:4px;float: left; margin-left: 10px;}
.newtoolnr .td .s2 a{margin-right:10px; text-align:left; display:inline-block;}
.newtoolnr span{float:left;width:14px;height:54px;border-right:1px dashed #ddd;margin-right:22px;display:block;}

.buttn a{height:40px;width: 140px; display:block; color:#FFFFFF;}
.buttn a:hover{ background:#cc0000;color:#FFFFFF;text-decoration:none}